* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding-right: 4vw;
    background-color: black;
}

nav img {
    max-width: 100%;
    max-height: 3vh;
}

nav #link-2{
    text-align: center;
    font-size: 20px;
}

nav a {
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: skyblue;
}

nav > h1 {
    background-color: green;
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.2vh;
    padding-bottom: 1vh;
    font-family: 'Montserrat', sans-serif;
}

.search-bar img {
    max-width: 20px;
    padding-left: 15px;
}

.search-bar form {
    padding-right: 10vw;
}

.search-bar {
    display: flex;
    justify-content: Space-between;
    padding-top: 10px;
}


main {
    border: 2px solid black;
    display:flex;
    flex-direction: column;


}

.top-4, .bottom-4 {
    padding: 5%;
    display: flex;
}

.card {
    border: 2px solid black;
    width: 25%;
    margin: 10px;
    padding: 10px;
}

.card img {
    max-width: 100%;
}

@media (max-width: 800px) {
    .top-4, .bottom-4 {
      flex-wrap:wrap;
    }
    .top-4, .bottom-4 div{
      flex: 0 0 100%;
      text-align:right;
    }
  }
