* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding-right: 4vw;
    background-color: black;
}

nav > #link-1 {
    padding-left: 30vw;
}

nav a {
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: skyblue;
}

nav > h1 {
    background-color: green;
    color: white;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.2vh;
    padding-bottom: 1vh;
    font-family: 'Montserrat', sans-serif;
}

main {
    height: 500px;
    display: flex;
    margin: 25px auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
    
}



.panel , .right{
    border: 2px solid black;

}

.panel {
    padding: 20px;
    padding-right: 500px;
    margin: 10px;
}

.right {
    height: 38vh;
    padding: 2%;
}

.right > p {
    text-align: justify;
}


#left {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.panel p {
    padding: 80%;
    background-color: black;
    color: white;
    border: 2px solid brown;
}

 #did1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel, .panel p{
    display: flex;
    justify-content: space-around;
}